#auth-page {
  aside {
    flex: 7;

    background-color: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem 2rem;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px "Poppins", sans-serif;
      line-height: 42px;

      margin: 16px 0 0 0;
    }

    p {
      font-size: 24px;
      line-height: 42px;

      margin: 16px 0 0 0;

      color: #f8f8f8;
    }
  }
}

@media (max-width: 991.98px) {
  #auth-page {
    aside {
      padding: 4rem 1.2rem;
      flex: 2;

      img {
        max-width: 240px;
      }

      p {
        font-size: 20px;
        line-height: initial;
      }
    }
  }
}
